<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js" class="in" style="display: none;"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js" class="in" style="display: none;"></script>
<script type="text/javascript">
   $.material.init();
</script>
{% block foot %}{% endblock %}
